---

---

<h1>Acortador de URL</h1>

<form id="form">
	<input name="url" placeholder="URL" required />
	<input name="author" placeholder="Autor" />

	<button>Acortar</button>
</form>

<p id="result"></p>

<script>
	const form = document.getElementById("form");
	const result = document.getElementById("result");

	form.addEventListener("submit", async (e) => {
		e.preventDefault();

		const data = new FormData(form);

		const res = await fetch("/api/shorten", {
			method: "POST",
			body: JSON.stringify({
				url: data.get("url"),
				author: data.get("author"),
			}),
		});

		const json = await res.json();

		result.innerHTML = `URL corta:
<a href="${json.short}">
${location.origin}${json.short}
</a>`;
	});
</script>
