<div id="foot">
  <div class="main">
    <div class="wrap">
      <div class="grid">
        <div class="item">
          <div class="about">
            <sup
              ><a href="https://iiap.org.co/nosotros">Acerca de <b>IIAP</b></a
              ></sup
            ><sub><p>John Von Neumann</p></sub><div>
              <p>
                El Instituto de Investigaciones Ambientales del Pacífico brinda
                apoyo científico, tecnológico y de conocimiento a las
                comunidades asentadas en el Chocó Biogeográfico, al SINA y MADS.
              </p><ul>
                <li class="phone" title="Teléfono">
                  <p>
                    <a href="tel:+57 (4) 670 9126">+57 (4) 670 9126</a>, <a
                      href="tel:+57 312 288 8110">+57 312 288 8110</a
                    >
                  </p>
                </li><li class="mail" title="Correo">
                  <b>Contáctenos</b><a href="mailto: iiap@iiap.org.co"
                    >iiap@iiap.org.co</a
                  >
                </li><li class="mail" title="Correo">
                  <b>Notificaciones Judiciales</b><a
                    href="mailto: notificacionesjudiciales@iiap.org.co"
                    >notificacionesjudiciales@iiap.org.co</a
                  >
                </li><li class="address" title="Dirección">
                  <p>Cra 7 No 29 - 57 B/César Conto, Quibdó - Chocó</p>
                </li>
              </ul>
            </div>
          </div>
        </div><div class="item">
          <input type="checkbox" id="foot:main:links" /><div class="links">
            <label for="foot:main:links">Enlaces</label><div>
              <ul>
                <li>
                  <a href="http://humboldt.org.co" target="_blank"
                    >Instituto Humbolt</a
                  >
                </li><li>
                  <a href="http://sinchi.org.co" target="_blank"
                    >Instituto Sinchi</a
                  >
                </li><li>
                  <a href="http://invemar.org.co" target="_blank"
                    >Instituto Invemar</a
                  >
                </li><li>
                  <a href="http://sibcolombia.net" target="_blank"
                    >SIB Colombia</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div><div class="item">
          <input type="checkbox" id="foot:main:touch" /><div class="touch">
            <label for="foot:main:touch">Suscríbete</label><div>
              <p>
                Suscríbite y recibirás información actualizada de todas nuestras
                actividades.
              </p><form method="post" accept="/subscribe" autocomplete="off">
                <input
                  type="text"
                  name="mail"
                  placeholder="Tu correo electrónico"
                /><button type="submit">Suscribir</button>
              </form><h3>Síguenos</h3><ul>
                <li>
                  <a
                    class="facebook"
                    href="https://facebook.com/IIAPCO"
                    title="Facebook"
                    target="_blank"
                    ><svg viewBox="0 0 32 32"
                      ><path
                        d="M31.997 15.999c0-8.836-7.163-15.999-15.999-15.999s-15.999 7.163-15.999 15.999c0 7.985 5.851 14.604 13.499 15.804v-11.18h-4.062v-4.625h4.062v-3.525c0-4.010 2.389-6.225 6.043-6.225 1.75 0 3.581 0.313 3.581 0.313v3.937h-2.017c-1.987 0-2.607 1.233-2.607 2.498v3.001h4.437l-0.709 4.625h-3.728v11.18c7.649-1.2 13.499-7.819 13.499-15.804z"
                      ></path></svg
                    ></a
                  >
                </li><li>
                  <a
                    class="instagram"
                    href="https://www.instagram.com/iiap_col?igsh=NHc5MmxoNWwwb2lq"
                    title="Instagram"
                    target="_blank"
                    ><svg viewBox="0 0 32 32"
                      ><path
                        d="M16 0c-4.347 0-4.889 0.020-6.596 0.096-1.704 0.080-2.864 0.348-3.884 0.744-1.052 0.408-1.945 0.956-2.835 1.845s-1.439 1.781-1.845 2.835c-0.396 1.020-0.665 2.18-0.744 3.884-0.080 1.707-0.096 2.249-0.096 6.596s0.020 4.889 0.096 6.596c0.080 1.703 0.348 2.864 0.744 3.884 0.408 1.051 0.956 1.945 1.845 2.835 0.889 0.888 1.781 1.439 2.835 1.845 1.021 0.395 2.181 0.665 3.884 0.744 1.707 0.080 2.249 0.096 6.596 0.096s4.889-0.020 6.596-0.096c1.703-0.080 2.864-0.349 3.884-0.744 1.051-0.408 1.945-0.957 2.835-1.845 0.888-0.889 1.439-1.78 1.845-2.835 0.395-1.020 0.665-2.181 0.744-3.884 0.080-1.707 0.096-2.249 0.096-6.596s-0.020-4.889-0.096-6.596c-0.080-1.703-0.349-2.865-0.744-3.884-0.408-1.052-0.957-1.945-1.845-2.835-0.889-0.889-1.78-1.439-2.835-1.845-1.020-0.396-2.181-0.665-3.884-0.744-1.707-0.080-2.249-0.096-6.596-0.096zM16 2.88c4.271 0 4.78 0.021 6.467 0.095 1.56 0.073 2.407 0.332 2.969 0.553 0.749 0.289 1.28 0.636 1.843 1.195 0.559 0.56 0.905 1.092 1.195 1.841 0.219 0.563 0.48 1.409 0.551 2.969 0.076 1.688 0.093 2.195 0.093 6.467s-0.020 4.78-0.099 6.467c-0.081 1.56-0.341 2.407-0.561 2.969-0.299 0.749-0.639 1.28-1.199 1.843-0.559 0.559-1.099 0.905-1.84 1.195-0.56 0.219-1.42 0.48-2.98 0.551-1.699 0.076-2.199 0.093-6.479 0.093-4.281 0-4.781-0.020-6.479-0.099-1.561-0.081-2.421-0.341-2.981-0.561-0.759-0.299-1.28-0.639-1.839-1.199-0.561-0.559-0.92-1.099-1.2-1.84-0.22-0.56-0.479-1.42-0.56-2.98-0.060-1.68-0.081-2.199-0.081-6.459 0-4.261 0.021-4.781 0.081-6.481 0.081-1.56 0.34-2.419 0.56-2.979 0.28-0.76 0.639-1.28 1.2-1.841 0.559-0.559 1.080-0.919 1.839-1.197 0.56-0.221 1.401-0.481 2.961-0.561 1.7-0.060 2.2-0.080 6.479-0.080zM16 7.784c-4.54 0-8.216 3.68-8.216 8.216 0 4.54 3.68 8.216 8.216 8.216 4.54 0 8.216-3.68 8.216-8.216 0-4.54-3.68-8.216-8.216-8.216zM16 21.333c-2.947 0-5.333-2.387-5.333-5.333s2.387-5.333 5.333-5.333 5.333 2.387 5.333 5.333-2.387 5.333-5.333 5.333zM26.461 7.46c0 1.060-0.861 1.92-1.92 1.92-1.060 0-1.92-0.861-1.92-1.92s0.861-1.919 1.92-1.919c1.057-0.001 1.92 0.86 1.92 1.919z"
                      ></path></svg
                    ></a
                  >
                </li><li>
                  <a
                    class="tiktok"
                    href="https://www.tiktok.com/@iiapcolombia?_t=ZS-8vMfeQBmRLV&_r=1"
                    title="TikTok"
                    target="_blank"
                    ><svg viewBox="0 0 32 32"
                      ><path
                        d="M16.707 0.027c1.747-0.027 3.48-0.013 5.213-0.027 0.107 2.040 0.84 4.12 2.333 5.56 1.493 1.48 3.6 2.16 5.653 2.387v5.373c-1.92-0.067-3.853-0.467-5.6-1.293-0.76-0.347-1.467-0.787-2.16-1.24-0.013 3.893 0.013 7.787-0.027 11.667-0.107 1.867-0.72 3.72-1.8 5.253-1.747 2.56-4.773 4.227-7.88 4.28-1.907 0.107-3.813-0.413-5.44-1.373-2.693-1.587-4.587-4.493-4.867-7.613-0.027-0.667-0.040-1.333-0.013-1.987 0.24-2.533 1.493-4.96 3.44-6.613 2.213-1.92 5.307-2.84 8.2-2.293 0.027 1.973-0.053 3.947-0.053 5.92-1.32-0.427-2.867-0.307-4.027 0.493-0.84 0.547-1.48 1.387-1.813 2.333-0.28 0.68-0.2 1.427-0.187 2.147 0.32 2.187 2.427 4.027 4.667 3.827 1.493-0.013 2.92-0.88 3.693-2.147 0.253-0.44 0.533-0.893 0.547-1.413 0.133-2.387 0.080-4.76 0.093-7.147 0.013-5.373-0.013-10.733 0.027-16.093z"
                      ></path></svg
                    ></a
                  >
                </li><li>
                  <a
                    class="spotify"
                    href="https://open.spotify.com/user/31plbjolzlfec7pjx6qcqejxwsua?si=bzm2GXamQ4acEI8R3_vYNg"
                    title="Spotify"
                    target="_blank"
                    ><svg viewBox="0 0 27 32"
                      ><path
                        d="M20.125 21.607c0-0.5-0.196-0.696-0.536-0.911-2.304-1.375-4.982-2.054-7.982-2.054-1.75 0-3.429 0.232-5.125 0.607-0.411 0.089-0.75 0.357-0.75 0.929 0 0.446 0.339 0.875 0.875 0.875 0.161 0 0.446-0.089 0.661-0.143 1.393-0.286 2.857-0.482 4.339-0.482 2.625 0 5.107 0.643 7.089 1.839 0.214 0.125 0.357 0.196 0.589 0.196 0.446 0 0.839-0.357 0.839-0.857zM21.839 17.768c0-0.482-0.179-0.821-0.625-1.089-2.732-1.625-6.196-2.518-9.786-2.518-2.304 0-3.875 0.321-5.411 0.75-0.571 0.161-0.857 0.554-0.857 1.143s0.482 1.071 1.071 1.071c0.25 0 0.393-0.071 0.661-0.143 1.25-0.339 2.75-0.589 4.482-0.589 3.393 0 6.482 0.893 8.714 2.214 0.196 0.107 0.393 0.232 0.679 0.232 0.607 0 1.071-0.482 1.071-1.071zM23.768 13.339c0-0.661-0.286-1-0.714-1.25-3.089-1.804-7.321-2.643-11.357-2.643-2.375 0-4.554 0.268-6.5 0.839-0.5 0.143-0.964 0.571-0.964 1.321 0 0.732 0.554 1.304 1.286 1.304 0.268 0 0.518-0.089 0.714-0.143 1.732-0.482 3.607-0.661 5.482-0.661 3.714 0 7.571 0.821 10.054 2.304 0.25 0.143 0.429 0.214 0.714 0.214 0.679 0 1.286-0.536 1.286-1.286zM27.429 16c0 7.571-6.143 13.714-13.714 13.714s-13.714-6.143-13.714-13.714 6.143-13.714 13.714-13.714 13.714 6.143 13.714 13.714z"
                      ></path></svg
                    ></a
                  >
                </li><li>
                  <a
                    class="twitter"
                    href="https://twitter.com/iiap_co"
                    title="X"
                    target="_blank"
                    ><svg viewBox="0 0 32 32"
                      ><path
                        d="M24.325 3h4.411l-9.636 11.013 11.336 14.987h-8.876l-6.952-9.089-7.955 9.089h-4.413l10.307-11.78-10.875-14.22h9.101l6.284 8.308zM22.777 26.36h2.444l-15.776-20.859h-2.623z"
                      ></path></svg
                    ></a
                  >
                </li><li>
                  <a
                    class="youtube"
                    href="https://youtube.com/channel/UCuxOL0BAHcc_AqXHTH4Vaiw"
                    title="Youtube"
                    target="_blank"
                    ><svg viewBox="0 0 32 32"
                      ><path
                        d="M31.327 8.273c-0.386-1.353-1.431-2.398-2.756-2.777l-0.028-0.007c-2.493-0.668-12.528-0.668-12.528-0.668s-10.009-0.013-12.528 0.668c-1.353 0.386-2.398 1.431-2.777 2.756l-0.007 0.028c-0.443 2.281-0.696 4.903-0.696 7.585 0 0.054 0 0.109 0 0.163l-0-0.008c-0 0.037-0 0.082-0 0.126 0 2.682 0.253 5.304 0.737 7.845l-0.041-0.26c0.386 1.353 1.431 2.398 2.756 2.777l0.028 0.007c2.491 0.669 12.528 0.669 12.528 0.669s10.008 0 12.528-0.669c1.353-0.386 2.398-1.431 2.777-2.756l0.007-0.028c0.425-2.233 0.668-4.803 0.668-7.429 0-0.099-0-0.198-0.001-0.297l0 0.015c0.001-0.092 0.001-0.201 0.001-0.31 0-2.626-0.243-5.196-0.708-7.687l0.040 0.258zM12.812 20.801v-9.591l8.352 4.803z"
                      ></path></svg
                    ></a
                  >
                </li><li>
                  <a class="feed" href="https://iiap.org.co/feed" title="Feeds"
                    ><svg viewBox="0 0 32 32"
                      ><path
                        d="M25.599 32c0-14.044-11.555-25.6-25.599-25.6v-6.4c17.553 0 32 14.447 32 32zM4.388 23.22c2.419 0 4.391 1.972 4.391 4.393 0 2.417-1.98 4.387-4.401 4.387-2.417 0-4.377-1.965-4.377-4.387s1.967-4.392 4.388-4.393zM21.212 32h-6.22c0-8.225-6.767-14.993-14.992-14.993v-6.22c11.636 0 21.212 9.579 21.212 21.213z"
                      ></path></svg
                    ></a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><div class="panel">
    <div class="wrap">
      <div class="menu">
        <dl role="menu">
          <dt><a href="https://iiap.org.co/home">Inicio</a></dt><dt>
            <a href="https://iiap.org.co/mapa">Mapa del sitio</a>
          </dt><dt><a href="https://iiap.org.co/terminos">Terminos</a></dt><dt>
            <a href="https://iiap.org.co/proteccion"
              >Protección de datos personales</a
            >
          </dt>
        </dl>
      </div><div class="side">
        <strong>Copyright&nbsp;&copy;&nbsp;2018&nbsp;IIAP</strong><small
          >Powered by&nbsp;<a href="https://bontris.com" target="blank"
            >Bontris</a
          ></small
        ><span
          ><a href="#top" title="Back to top"
            ><svg
              ><path
                d="M3.984 12l8.016-8.016 8.016 8.016-1.453 1.406-5.578-5.578v12.188h-1.969v-12.188l-5.625 5.578z"
              ></path></svg
            ></a
          ></span
        >
      </div>
    </div>
  </div><div class="mark">
    <div class="wrap">
      <a href="https://www.colombia.co" target="_blank"
        ><img src="https://iiap.org.co/assets/images/pais.svg" main /></a
      ><a href="https://www.gov.co" target="_blank"
        ><img src="https://iiap.org.co/assets/images/mark.svg" last /></a
      >
    </div>
  </div>
</div><script src="https://iiap.org.co/assets/scripts/view.js?v=1.1"
></script><script src="https://iiap.org.co/assets/scripts/pipes/size.js"
></script><script src="https://iiap.org.co/assets/scripts/pipes/chop.js"
></script><script src="https://iiap.org.co/assets/scripts/blocks/file.js?v=1.0"
></script><script src="https://iiap.org.co/assets/scripts/blocks/list.js?v=1.1"
></script><script src="https://iiap.org.co/assets/scripts/traits/hint.js"
></script><script src="https://iiap.org.co/assets/scripts/traits/show.js"
></script><script>
  // [CDATA[
  (function (root, mount, same, each, wait, wrap) {
    "use strict";

    mount(
      "#head",
      {
        states: {
          alert: {
            data: {
              show: false,
              type: null,
              name: null,
              text: null,
            },
          },
          snack: {
            data: {
              show: false,
              type: null,
              text: null,
              link: null,
            },
          },
          toast: {
            data: {
              show: false,
              wait: 3000,
              type: null,
              text: null,
              time: null,
              next: null,
            },
            hook: function (data, name) {
              if (same(this.state.toast.show, true)) {
                wait(
                  this.state.toast.wait,
                  function (time) {
                    this.state.toast = { time: null, show: false };
                  },
                  null,
                  this
                );
              }
            },
          },
          show: false,
        },
        events: {
          exit: function (time) {
            alert(time);
          },
        },
        take: function (task, emit) {
          switch (task.type) {
            case "alert:show":
              return (this.state.alert = each(
                task.data,
                function (data, name) {
                  this[name] = data;
                },
                { show: true }
              ));
            case "snack:show":
              return (this.state.snack = each(
                task.data,
                function (data, name) {
                  this[name] = data;
                },
                { show: true }
              ));
            case "toast:show":
              return (this.state.toast = each(
                task.data,
                function (data, name) {
                  this[name] = data;
                },
                { show: true }
              ));
          }
        },
        main: function (host) {
          root.hook(
            "scroll",
            function (event) {
              if (same(host.style.getx("position"), "fixed")) {
                if (root.top > host.height) {
                  this.state.show = true;

                  host.top = 0;
                } else {
                  this.state.show = false;

                  host.top = -root.top;
                }
              }
            },
            this,
            false
          );
        },
        zoom: function (more) {
          var body = wrap("#body");

          var zoom = parseFloat(body.style.getx("zoom"));

          if (more) {
            if (zoom < 1.6) {
              body.style.setx("zoom", zoom + 0.1);
            }
          } else {
            if (zoom > 1.0) {
              body.style.setx("zoom", zoom - 0.1);
            }
          }
        },
        next: function (path) {
          window.location.href = path;
        },
        path: "/home",
        page: "Inicio",
      },
      true,
      "main"
    );
  })(View.wrap(window), View.mount, View.same, View.each, View.wait, View.wrap);
  // ]]>
</script>
<script>
  // [CDATA[
  (function (mount, loop, same, max) {
    "use strict";

    mount(
      "#home",
      {
        states: {
          clips: [
            {
              item: "1",
              hash: "952220dc51f9318b4c7c6f0f112cf776",
              title: "Prueba #1",
              image: "db4420210a5113b58288fb5a37aea76f",
              source: "e41b037138a96440e6048f61d03bbbe5",
              extract: "Esta es una prueba",
              publication: null,
              skip: {
                row: "1",
                live: "0",
                hash: "c5244089ad29aaaba4434ab0c4fbdfba",
                mail: "team@iiap.org.co",
                work: "670 9126",
                last: "Von Neumann",
                name: "John",
                nick: "root",
                face: "4bf3882980f5080948bde47e7d306037",
              },
            },
          ],
          cards: [
            {
              item: "90",
              hash: "449fd70ed3a077157ed2f0946bbce8cc",
              text: "INSCR\u00cdBETE",
              note: null,
              link: "https://docs.google.com/forms/d/e/1FAIpQLSccR2MuccdbZcdoA9luP_MbBNkeTRffF1TtV9XH-Vj2qOf6KQ/viewform?usp=header",
              image: "11fb65d20c74f7a8101a6598f02d66a1",
              publication: "2025-11-14 17:10:26",
              sort: {
                row: null,
                hash: null,
                slug: null,
                name: null,
                fill: null,
              },
              file: { hash: null, name: null, type: null },
            },
            {
              item: "89",
              hash: "e7c30063c6585d6658d8108360fb37fd",
              text: "Fechas ambientales noviembre",
              note: null,
              link: null,
              image: "eaa824dab10ca7d77d3c9601a0a7a87f",
              publication: "2025-11-04 14:20:24",
              sort: {
                row: null,
                hash: null,
                slug: null,
                name: null,
                fill: null,
              },
              file: { hash: null, name: null, type: null },
            },
            {
              item: "87",
              hash: "6301e94a496abd6cdf3e464417384c2d",
              text: null,
              note: null,
              link: "https://docs.google.com/forms/d/e/1FAIpQLSfzHqjRLATKhTG-Hrhu6M63MHqyKLMSNzetoc3k_KRvLcHENw/viewform",
              image: "231024e03f4e5b9f0d54f905f0f4433e",
              publication: "2025-09-17 20:45:45",
              sort: {
                row: null,
                hash: null,
                slug: null,
                name: null,
                fill: null,
              },
              file: {
                hash: "5de053a6497049bc9caf99ef712abfd2",
                name: "2066_MOOC_Generalidades_temario.pdf",
                type: "application/pdf",
              },
            },
            {
              item: "87",
              hash: "6301e94a496abd6cdf3e464417384c2d",
              text: null,
              note: null,
              link: "https://docs.google.com/forms/d/e/1FAIpQLSfzHqjRLATKhTG-Hrhu6M63MHqyKLMSNzetoc3k_KRvLcHENw/viewform",
              image: "231024e03f4e5b9f0d54f905f0f4433e",
              publication: "2025-09-17 20:45:45",
              sort: {
                row: null,
                hash: null,
                slug: null,
                name: null,
                fill: null,
              },
              file: {
                hash: "b2f75b0c53b72355e846e20fb87351bb",
                name: "2066_MOOC_Generalidades_temario (1) (1) (2).pdf",
                type: "application/pdf",
              },
            },
            {
              item: "87",
              hash: "6301e94a496abd6cdf3e464417384c2d",
              text: null,
              note: null,
              link: "https://docs.google.com/forms/d/e/1FAIpQLSfzHqjRLATKhTG-Hrhu6M63MHqyKLMSNzetoc3k_KRvLcHENw/viewform",
              image: "231024e03f4e5b9f0d54f905f0f4433e",
              publication: "2025-09-17 20:45:45",
              sort: {
                row: null,
                hash: null,
                slug: null,
                name: null,
                fill: null,
              },
              file: {
                hash: "de8d89f1c014d747a7c75f65487fe60b",
                name: "2066_MOOC_Generalidades_temario (1) (1) (2).pdf",
                type: "application/pdf",
              },
            },
          ],
          posts: [
            {
              slug: "mooc-areas-protegidas-en-ordenamiento-territorial-planeacion-etnica-y-ambiental-en-politicas-publicas",
              image: "1670272e629972c0a7657cb2350312ac",
              title:
                "MOOC \u201c\u00c1REAS PROTEGIDAS EN ORDENAMIENTO TERRITORIAL: PLANEACI\u00d3N \u00c9TNICA Y AMBIENTAL EN POL\u00cdTICAS P\u00daBLICAS\u201d",
              extract:
                "aporta en la consolidaci\u00f3n de sociedades m\u00e1s y mejor informadas, capaces de enfrentar los retos ambientales y sociales desde un conocimiento riguroso y compartido.",
              caption: "",
              publication: "2025-10-18 00:00:00",
              sort: {
                row: null,
                hash: null,
                slug: null,
                name: null,
                fill: null,
              },
              skip: {
                hash: "00cf729e4d447bccdc5b751881b724ed",
                last: "Uribe Lemus",
                name: "Maria Brenilde",
                face: null,
              },
            },
            {
              slug: "avanza-la-implementacion-del-proyecto-de-raices-a-mareas-en-el-choco-julio-31-2025",
              image: "6eccc5e45fca178eec7df209f421fb40",
              title:
                "Avanza la implementaci\u00f3n del proyecto \u201cDe ra\u00edces a mareas\u201d en el Choc\u00f3  julio 31, 2025",
              extract:
                "Desde la Ventana Pac\u00edfico, nos reunimos con el equipo de Fondo Patrimonio Natural, articulando acciones que nos permitan avanzar en las diferentes etapas de implementaci\u00f3n.",
              caption: "En jornada de evaluaci\u00f3n y seguimiento",
              publication: "2025-09-05 00:00:00",
              sort: {
                row: null,
                hash: null,
                slug: null,
                name: null,
                fill: null,
              },
              skip: {
                hash: "00cf729e4d447bccdc5b751881b724ed",
                last: "Uribe Lemus",
                name: "Maria Brenilde",
                face: null,
              },
            },
            {
              slug: "articulando-con-las-institucionalidad-del-choco-biogeografico-esta-vez-desde-guapi-con-el-tema-tortugas-marinas",
              image: "636605199eb04d8e655eb039118c67df",
              title:
                "Articulando con las institucionalidad del Choc\u00f3 Biogeogr\u00e1fico: esta vez desde Guapi con el tema, tortugas marinas.",
              extract:
                "En alianza interinstitucional, El IIAP, Administraci\u00f3n Municipal de Guapi, CRC y La organizaci\u00f3n Pac\u00edfico Vivo abriendo acad\u00e9micos en el Choc\u00f3 Biogeogr\u00e1fico.",
              caption: "",
              publication: "2025-07-30 15:45:01",
              sort: {
                row: null,
                hash: null,
                slug: null,
                name: null,
                fill: null,
              },
              skip: {
                hash: "44e79bc5196fc8750a3864519b0aa79e",
                last: "ROMA\u00d1A MORENO",
                name: "SILVIO ALEXANDER",
                face: "7304ebb1c4765d7398c57ee4813a30d7",
              },
            },
          ],
          dates: [],
          stop: false,
          card: 0,
        },
        main: function (host) {
          loop(
            6000,
            function (time) {
              if (same(this.state.stop, false)) {
                this.move(this.state.card + 1, false);
              } else {
                return true;
              }
            },
            this
          );
        },
        move: function (next, stop) {
          this.state = {
            card: max(next % this.state.cards.length, 0),
            stop: stop,
          };
        },
      },
      true
    );
  })(View.mount, View.loop, View.same, Math.max);
  // ]]>
</script>
